.App {
  background-color: #ee8573;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  text-align: center;
}

.timeInput {
  margin-bottom: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-size: 20px;
  color: #fff;
  outline-color: rgba(255, 255, 255, 0.8);

}

.playButton {
  display: block;
  margin: auto;
  padding: 20px;
  font-size: 40px;
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 100px;
  height: 100px;
}